# Ignore everything in the target directory
target/
*.txt
*.bz2
*.DS_Store
debug/
target/debug/deps/bzip2-223baf18a0e70c63
target/debug/deps/bzip2-223baf18a0e70c63.bzip2.ef84b88f-cgu.3.rcgu.o
target/debug/deps/bzip2-223baf18a0e70c63.bzip2.ef84b88f-cgu.4.rcgu.o
target/debug/deps/bzip2-223baf18a0e70c63.bzip2.ef84b88f-cgu.6.rcgu.o
target/debug/deps/bzip2-223baf18a0e70c63.bzip2.ef84b88f-cgu.7.rcgu.o
target/debug/deps/bzip2-223baf18a0e70c63.bzip2.ef84b88f-cgu.10.rcgu.o
target/debug/deps/bzip2-223baf18a0e70c63.bzip2.ef84b88f-cgu.11.rcgu.o
target/debug/deps/bzip2-223baf18a0e70c63.bzip2.ef84b88f-cgu.12.rcgu.o
target/debug/deps/bzip2-223baf18a0e70c63.bzip2.ef84b88f-cgu.13.rcgu.o
target/debug/deps/bzip2-223baf18a0e70c63.bzip2.ef84b88f-cgu.14.rcgu.o
target/debug/deps/bzip2-223baf18a0e70c63.bzip2.ef84b88f-cgu.15.rcgu.o
src/.DS_Store
